*{
  box-sizing: border-box;
}

title{
  display: none;
}
script{
  display: none;
}
h1{
  font-family: 'Courier New', Courier, monospace;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container{
  position: relative;
  width: auto;
  height:auto;
}
/* -------------------HOME PAGE----------------------- */
#banner{
  background-color: black;
  padding: 0;
  margin: 0;
}
#banner-words{
  width: auto;
  height: auto;
}
.banner-words{
  color: white;
  display:flex;
  justify-content: center;
  font-family:'Courier New', Courier, monospace, bold;
  font-size: 12px;
  padding-top: .2%;
  padding-bottom: .2%;
}
/* ######## NAV ####### */
/* #nav{
  width:auto;
  height: auto;
  position: relative;
  display:flex;
  overflow:hidden;
  padding-top: .5%;
} */

.navbar{
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.logo{
  margin-left: 5%;
  margin-top: 1%;
  justify-content: flex-start;
  width: auto;
  height: auto;
}

.logoimg{
  width: auto;
  height: auto;
  overflow: hidden;
}

/* Button */
.btn {
    background-color: white;
    color: black;
    font-family:'Courier New', Courier, monospace, bold;
    padding: 16px;
    font-size: 1.2em; /*USING EM NOT PX*/
    text-align: center;
    border: none;
    
  }

.buttons{
  display: flex;
  justify-content: left;
  margin: 0% 20% 0% 10%;
}

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-family:'Courier New', Courier, monospace, bold;
  }

  .clothing {
    position: relative;
    display: inline-block;
    font-family:'Courier New', Courier, monospace, bold;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .clothing-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  .clothing-content a:hover {background-color: #ddd;}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  .clothing:hover .dropdown-content {display: block;}
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ddd;}

  .btn:hover{background-color: #ddd;}

  
  .sml:hover{color: coral;}


.account{
  width:auto;
  height: auto;
  margin-right: 20px;
}

.fa-search{
  color: #7C6990;
  margin-top: 3%;
}

.search{
  display: flex;
  justify-self: flex-end;
}

.search_input{
  width:auto;
  border-style: none;
  border-radius: 10px;
  background-color: #e5e5e7;
  margin-left: 20px;
}



/* ####### MAIN ####### */
#main{
  display: block;
  background-image: url("image/TravelBackground_1.png");
  width: auto;
  position: relative;
  object-fit: contain;
}
.hero{
  width: auto;
}
.heroimg{
  object-fit: scale-down;
  width: 100%;
}
.shop-now{
  border: 2px solid blue;
}
.break{
  width: 93%;
  margin-left: 2.5%;
  filter: drop-shadow(0px 0px 4px #ddd);
}
.breakimg{
  width: auto;
}
.center{
  display: flex;
  justify-content: center;
  margin-left: 2%;
  width: 95%;
  height: auto;
  background-color: white;
}

.left{
  height: auto;
  margin-right: 20px;
  filter: drop-shadow(0px 0px 4px #8b8691);
  overflow: hidden;
  object-fit: contain;
}
.leftimg{
  max-width: 100%;
  height: auto;
  object-fit: fill;
  float: left;
  overflow: hidden;
}
.overlay{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #ddd;
  overflow: hidden;
}
.left:hover .overlay{
  opacity: .5;
}
.right{
  display: relative;
  height: auto;
  filter: drop-shadow(0px 0px 4px #8b8691);
  overflow: hidden;
}
.rightimg{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.right:hover .overlay{
  opacity: .5;
}

/* ######## FOOTER ####### */
footer{
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}
a{
  color:white;
  margin-top: 2%;
  display: block;
}
.ftwords{
  display: flex;
  width: 40%;
  height: 90%;
  margin-left: 5%;
}
 .ftleft{
  margin: 1% 5% 1% 1%;
  width: 20%;
}
.ftright{
   margin: 1% 1% 1% 1%; 
} 
.bold{
  font-family:'Courier New', Courier, monospace, bold;
  font-size: 20px;
  text-decoration: none;
}
.sml{
  font-family:'Courier New', Courier, monospace, bold;
  font-size: 14px;
}
.ftinfo{
  display: block;
  height: 50px;
  margin-left: 60%;
}
.info{
  display: flex;
  width: 50%;
  
}
.fab{
  font-size: 30px;
  margin-top: 5%;
  margin-right: 5%;
}
.rightfoot{
  display: block;
  margin-left: 30%;
  justify-content: right;
}
.icon{
  justify-content: right;
  margin-left: 80%;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.fa-check-square{
  margin-top: 6%;
}
.check{
  color:#dedede;
}
.connect{
  height: 25px;
  display: flex;
}
.tiny{
  font-size: 12px;
}
.copyright{
 margin-top: 5%;
}

.title{
  text-align: center;
}


/* ------------------PRODUCT PAGES------------------- */
.prodTitle{
  font-family: 'Courier New', Courier, monospace;
  color: black;
  padding-top: 2%;
  padding-left: 15%;
}
.prod{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  height: auto;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 4px #8b8691);
}

.prodResult{
  align-self: center;
  width: auto;
  height: auto;
  text-align: center;
  align-content: flex-start;
}

.prodimg{
  width: 20px;
  height: 20px;
  align-self:center;
}

/*-------------------All PROD---------------------------*/
.prod_all{
  display: block;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  height: 1000px;
  filter: drop-shadow(0px 0px 4px #8b8691);
}

/*-------------------SINGLE PROD------------------------*/
#pp-main{
  background-color: white;
}
.desc{
  width: 100%;
  height: 600px;
  display: flex;
}
.prod-pg-left{
  width: 50%;
  height: 400px;

}
.pic{
  width: 50%;
  height: 400px;
}
.prod-pic{
  width: 100%;
  object-fit: contain;
}
.prod-pg-right{
  width: 50%;
  height: 600px;
}
.size{
  color: #838383;
  border-style: hidden;
  border-radius: 8px;
  margin-top: 2%;
  margin-right: 2%;
}
.text{
  margin-left: 10%;
  width: 90%;
}
.prod-title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
}
.prod-price{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}
.colorpick{
  margin-top: 20%;
}
.pick{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #cecdcd;
}
.addbtn{
  padding-top: 2%;
}
.addbtntxt{
  
  background-color: #7C6990;
  color:#cecdcd;
  width:30%;
  text-align: center;
}

.addbtntxt:hover{
  cursor: pointer;
}

/*--------------Contact Us Page------------------*/
.contact-info{
  height: 400px;
  width: 80%;
  display: block;
  margin-left: 10%;
  background-color: white;
}

.contact{
  font-size: 40px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 25%;
}

/*----------------FAQ---------------------*/
.qa{
  height: 400px;
  width: 80%;
  margin-left: 10%;
  background-color: white;
}

.faq{
  text-align: center;
  margin-top: 5%;
}

/*----------------About Us -----------------------*/
.abt{
  margin-left: 5%;
  margin-right: 5%;
}

/*----------LOGIN-------------------*/
#login{
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.login{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.login-text{
  display: table-row;
}

.login-lbl{
  display: table-cell;
}

.login-input{
  display: table-cell;
}

/*----------ADMIN PORTAL-----------------*/
.inventory{
  width: 100%;
  text-align: center;
}

.inv_tbl{
  width: 100%; 
  border: 2px solid black;
  justify-content: space-between;
}
.inv_tbl:nth-child(even){
  background-color: #3e8e41;
}
.inv-btn{
  display: flex;
  
}

.right-btn{
  margin-left: 85%;
}

.col_head{
  text-align: center;
  padding: 20px;
}
.col_data{
  text-align: center;
  /*width: auto;*/
}

/* .col_data:nth-child(even){
  background-color: #8b8691;
} */





.top-img{
  margin-left: 50%;
}

/*-----------UPDATE PAGE--------------*/
#update{
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.update{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.update-text{
  display: table-row;
}

.update-lbl{
  display: table-cell;
}

.update-input{
  display: table-cell;
}